body {  
    background-image: url('/background.jpg');
    background-size: cover;  
    background-attachment: fixed;  
    background-position: center;  
    
  }

  main {
    margin: 10px auto;
    position: relative;
    padding: 2em;
   color: white;
    background: hsla(0, 0%, 0%, 0.783);
    backdrop-filter: blur(1rem);
    width: 80%;
    max-width: 65em;
    font-size: 14px;
  }

  img {
    height: 70px;
  }

  .allergen {
    height: 20px;
  }

  .fst-italic {
    font-size: 10px;
  }
  
  .card {
    max-width: 540px;
  }

  #menuImage {
    height: 250px;
  }