body {  
    background-image: url('/background.jpg');
    background-size: cover;  
    background-attachment: fixed;  
    background-position: center;  
    
  }

  main {
    margin: 10px auto;
    position: relative;
    padding: 2em;
    padding-top: 1em;
    color: white;
    background: hsla(20, 100%, 15%, 0.8);
    width: 70%;
    max-width: 42em;
    font-size: 13px;
  }

  img {
    height: 70px;
  }

  .allergens {
    height: 18px;
  }

  .fst-italic {
    font-size: 10px;
  }

  .pic-allergen {
  height: 18px;
  }
  
  .card {
    max-width: 540px;
    color: white;
    backdrop-filter: blur(1rem);
  }

  .border {
    border-color: goldenrod;
  }

  /* small screens */
  @media (max-width: 820px) {
    
    main {
      margin: 10px auto;
      position: relative;
      padding: 2em;
      width: 90%;
      max-width: 47em;
      font-size: 14px;
    }
    .card {
      max-width: 640px;
    }
  }

  @media (max-width: 1024px) {
    
    main {
      margin: 10px auto;
      position: relative;
      padding: 2em;
      width: 90%;
      max-width: 51em;
      font-size: 14px;
    }
    .card {
      max-width: 640px;
    }
  }

  @media (max-width: 540px) {

    .rounded-pill-top {
      border-top-left-radius: 50rem; 
      border-top-right-radius: 50rem; 
      border-bottom-left-radius: 0; 
      border-bottom-right-radius: 50rem; 
      width: 110px;
      max-height: 110px;
    }

    main {
      padding: 1em;
      text-align: center;
    }
  }